<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
  </head>
  <body>
    <div
      style="
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80vw;
        margin: 0 auto;
      "
    >
      <div style="display: flex; justify-content: space-between; width: 100%">
        <h2>City list</h2>
        <a href="/city/create"><button>Add city</button></a>
      </div>
      <table style="width: 60%" border="1px">
        <thead>
          <tr>
            <th>City</th>
            <th>Country</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {tableBody}
        </tbody>
      </table>
    </div>
  </body>
</html>
